/**************************************************/
/* cssBlank1.css                                  */
/* Funciona con Mozilla y Crome, IE               */
/* NOTA: A partir de 2013-09-02 ya no se utiliza  */
/* en ninguna página, se ha incluido un div. blank*/  
/* en lugar de utilizar este fichero CSS          */
/* Lo dejo aquí hasta comprobar si aún hay alguna */
/* página que si lo utiliza                       */
/**************************************************/
body{
	font-family: Arial,sans-serif;
	color: #333333;
	/*line-height: 1.166;*/
	/*margin: 0px; para que se acople por completo al borde de la ventana*/
	margin: 0 0 10 0px;/* para que no se acople por completo al borde de la ventana, que deja abajo*/
}

div .contedorGeneral{
 text-align:left;
	/*width:770px;/*este si se quiere flotante se deberá quitar*/
 margin: auto;
}
#cabecera {
	margin:0 0 0 0px;
 background-color:#E9E9E9;	/* gris laicismo.org */
	/*padding: 10 0 10 0px;no funciona en FF y Crome*/
}
#cabIdz{
 float: left;
	/*width: 350x;/*o tamaño fijo en el lateral*/
 width: 50%;	/*o tamaño % en el lateral*/
 background-color:#E9E9E9;	/* gris laicismo.org */
}
#cabDecha{
	background-color:#E9E9E9;	/* gris laicismo.org */
	/*margin-left: 354px;*/
	margin-left: 50%;	
	text-align: right;
}

#content0 {
	margin:0 0 0 0px;
	padding: 0 0 0 0px;
}
#secciones{
 float: left;
 width: 170px;
	/*width: 160px; bien */
 /*width: 21%;	mal tamaño % en el lateral*/
	background-color:#A6CAF0;
}
#seccLinks{ /*creo que no se usua en ningún sitio*/
	background-color:#A6CAF0;
}

/*********** #sectionLinks styles depurar algunos no se usan ***********/
#sectionLinks{
	position: relative;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #cccccc;
/*	background-color:#AA1F00;*/
	font-size: 90%;
}

#sectionLinks a:link{
	padding: 2px 0px 2px 10px;
	border-top: 1px solid #cccccc;
	width: 100%;
 voice-family: "\"}\"";
 voice-family:inherit;
	width: auto;
}
#sectionLinks a:visited{
	border-top: 1px solid #cccccc;
	padding: 2px 0px 2px 10px;
}
#sectionLinks a:hover{
	border-top: 1px solid #cccccc;
	background-color: #dddddd;
	padding: 2px 0px 2px 10px;
}

#sectionLinksBarCab{/*nuevo*/
 background-color: #cccccc;
	/*position: relative;*/
	margin: 0px;
	padding: 0px 10px 0px 10px;	
/*	border-bottom: 1px solid #cccccc;
	background-color:#AA1F00;*/
	font-size: 100%;
}
/*se usa para link barra horizontal cabecera*/

#sectionLinksBarCab a:link{ 
	padding: 0px 10px 0px 10px;	
/*background-color: #dddddd;	*/
/*	width: 100%;*/
 /* voice-family: "\"}\"";
  voice-family:inherit;*/
/*	width: auto;*/
}
#sectionLinksBarCab a:visited{
/*background-color: #dddddd;*/
	padding: 0px 10px 0px 10px;
}
#sectionLinksBarCab a:hover{
	background-color: #ffffff;
	padding: 0px 10px 0px 10px;
}

/*********** sectionLinks styles ***********/
/************* #globalNav styles  **************/
#globalNav{      /*se utiliza en barra horizon de enlaces habría que organizar*/
 color: #cccccc;
 padding: 0px 0px 0px 10px;
 white-space: nowrap;
 background-color:#CCCCCC;
}
/* 'nowrap' prevents links from line-wrapping if there are too many to fit in one line
   this will force a horizontal scrollbar if there isn't enough room for all links
   remove rule or change value to 'normal' if you want the links to line-wrap */
#globalNav img{
 display: block;
}
#globalNav a {
	font-size: 90%;
	padding: 0px 4px 0px 0px;
}
/************* #globalNav styles *************/
/*Contenido del cuerpo derecho principal */
#content1{
	background-color:#ffffff;

margin-left: 190px;
 /*margin-left: 170px; bien */
	/*margin-right: 79%;	/*mal*/
/* padding: 14 14 14 14px;	IE lo incluye FF y Crome no*/
}
/* para los pup-up */
div .blank{
 padding: 5px; margin:30px; border: 0; text-align:left;	
/*	border-bottom: 1px solid #cccccc;*/
	width: 90%;
}

a:link, a:visited, a:hover {
	color: #006699;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
/* overrides decoration from previous rule for hovered links */

h1, h2, h3, h4, h5, h6 {
	font-family: Arial,sans-serif;
	margin: 0px;
	padding: 0px;
}
h1{
 font-family: Verdana,Arial,sans-serif;
 font-size: 120%;
 color:#D49F55;
 /*color:#FFFFFF; habrá que elegir este color blanco*/
}
h2{
 font-size: 114%;
 color: #006699;
}
h3{
 font-size: 100%;
 color: #3A6DAB;
/* color: #334d55;*/
/* background-color:#5A9DD3*/
}
h4{
 font-size: 100%;
 font-weight: normal;
 color: #333333;
}
h5{
 font-size: 100%;
 color: #334d55;
}

ul{
 list-style-type: square;
}
ul ul{
 list-style-type: disc;
}
ul ul ul{
 list-style-type: none;
}
label{
 font: bold 100% Arial,sans-serif;
 color: #334d55;
}
li {
	  font: 11px Verdana, sans-serif, Helvetica, Arial; 
                  text-align: left; padding: 3px; color: #3A6DAB; 
}	
ul.izda{
	padding:0.5em;
	margin:0.5em;
 list-style-type: none;
}
/*li#none{
 list-style-type: none;
 text-align: left;
}*/
/*
#navBar{
	margin: 0 0 0 0;
	padding: 0px;
	background-color:#F1F8F8;
/*	background-color:#AA1F00;*/
/*	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
*/
/***********************************************/
/*Component Divs                               */
/***********************************************/
/*#siteName{
	margin: 0px;
	padding: 0px 0px 10px 10px;
}
*/
/*************** #pageName styles **************/
/*
#pageName{
	padding: 0px 0px 10px 10px;
}
*/
/* de los siguientes alguno sobrará */
a.buttonGris1{
font:12px arial;
padding:3px 10px;
margin:5px;
border:1px outset #CCC;
text-align: center;
text-decoration:none;
color:#333;
background: #CCC;
}
a.buttonGris2{
font:12px arial;
padding:3px 10px;
margin:5px;
border:1px outset #CCC;
text-align: center;
text-decoration:none;
color:#333;
background: #e5e5e5;
}
a.buttonBlanco1{
font:12px arial;
padding:3px 10px;
margin:5px;
border:1px outset #CCC;
text-align: center;
text-decoration:none;
color:#333;
background:#FFFFFF;
}
/**************** para que los botones submit estén en línea ************************/
#formLinea {padding: 5px; margin:5px; border: 0; text-align:center; 
            background-color: #ffffff;}
#formLinea form.linea {display: inline;}/*para que los botones submit estén en línea*/

/************* Inicio #registro Para Form  *************/
#registro {margin:15px; 
											text-align:left;
           background-color: #ffffff;
}

#registro form.linea {display: inline;}/*para que los botones submit estén en línea*/

#registro fieldset {padding: 5px 5px;border: 1px solid #dfe0ff; color: #ffffff; }

#registro legend {padding:0 6px; font-size: 8pt; font-family: Verdana, sans-serif, Helvetica, Arial;
                  color: #3A6DAB; font-weight: bold; text-align: left;}																		
/*Verdana, Arial, Helvetica, sans-serif; ---Trebuchet MS, Helvetica, sans-serif*/
#registro p label {padding: 6px; font: 0.8em Trebuchet MS, Helvetica, sans-serif; float: left; 
                   text-align: right; color: #3A6DAB;}
#registro p input {padding: 1px; font: 0.8em Verdana, sans-serif, Helvetica, Arial; float: left; height: 20px;
                   text-align: left; border: 1px solid #dfe0ff; color: #2c2c2c;}
#registro p input.linea { padding: 1px; font: 12px Verdana, sans-serif, Helvetica, Arial; float: left; height: 19px;/*width: 22%;*/
                   text-align: center; border: 1px solid #dfe0ff;color: #2c2c2c;}									 
#registro p input.mostrar1 {padding: 1px; font: 12px Verdana, sans-serif, Helvetica, Arial; float: left; height:17px;/*width:22%;*/
                   text-align: left; border: 1px solid #dfe0ff; color: #2c2c2c; background: #d2d2d2;}		
#registro p select {padding: 1px; font: 12px Verdana, sans-serif, Helvetica, Arial; float: left; height: 21px;/*width: 22%; */
                   text-align: left; border: 1px solid #dfe0ff; color: #2c2c2c;}
#registro p textarea {padding: 1px; font: 11px Verdana, sans-serif, Helvetica, Arial; float: left; 
                     text-align: left; border: 1px solid #dfe0ff; color: #2c2c2c;}
#registro p textarea.mostrar1 {padding: 1px; font: Verdana, sans-serif, Helvetica, Arial; float: left;
                     text-align: left; border: 1px solid #dfe0ff; color: #2c2c2c; background: #d2d2d2;}	
#registro p br {clear: left;}


#registro span.error {padding: 3px; font: 11px Verdana, sans-serif, Helvetica, Arial; float: left; /*width: 22%; */
                      text-align: left; color: #cc0000;}

#registro span.comentario11 {padding: 3px; font: 11px Verdana, sans-serif, Helvetica, Arial; float: left; 
                             text-align: left; color: #3A6DAB; line-height: 1.4em;}
/*		
#registro span.comentario11 {padding: 3px; font: 11px Verdana, sans-serif, Helvetica, Arial; 
                             text-align: left; color: #3A6DAB; line-height: 1.4em;}																																					 
*/
/************* fin #registro Para Form *******/
.enviar {margin: 3px 0 0 3px;}


/************** .feature styles ***************/
/*.feature{
	padding: 0px 0px 10px 10px;
	font-size: 80%;
}

.feature h3{
	padding: 30px 0px 5px 0px;
	text-align: center;
}

.feature img{
	float: left;
	padding: 0px 10px 0px 0px;
	margin: 0 5px 5px 0;
}
*/
/* adjust margins to change separation between the feature image and text flowing around it */
/************** .story styles *****************/
/*
.story{
	clear: both;
	padding: 10px 0px 0px 10px;
	font-size: 80%;
}
.story p{
	padding: 0px 0px 10px 0px;
}
*/
/************* #siteInfo styles ***************/

/* negative top margin pulls siteinfo up so its top border overlaps (and thus lines up with)
	the bottom border of the navBar in cases where they "touch" */
#siteInfoPie{
	clear: both;
	border: 1px solid #cccccc;
	font-size: 75%;
	color: #cccccc;
	padding: 4px 10px 4px 10px;
	margin-top: 0px;
}
#siteInfo img{
	padding: 4px 4px 4px 0px;
	vertical-align: middle;
}

/************* #search styles ***************/
/*
#search{
	padding: 5px 0px 5px 10px;
	border-bottom: 1px solid #cccccc;
	font-size: 90%;
}
#search form{
 margin: 0px;
 padding: 0px;
}
#search label{
	display: block;
	margin: 0px;
	padding: 0px;
}
*/
/*********** #navBar link styles ***********/
/*#navBar ul a:link, #navBar ul a:visited {display: block;}
#navBar ul {list-style: none; margin: 0; padding: 0;}
*/
/* hack to fix IE/Win's broken rendering of block-level anchors in lists */
/*#navBar li {border-bottom: 1px solid #EEE;}*/

/* fix for browsers that don't need the hack */
/*html>body #navBar li {border-bottom: none;}*/
/*
.relatedLinks{
	margin: 0px;
	padding: 0px 0px 10px 10px;
	font-size: 90%;
}
.relatedLinks h3{
	padding: 10px 0px 2px 0px;
}
*/
/************** #advert styles **************/
/*#advert{
	padding: 10px 0px 0px 10px;
	font-size: 80%;
	border-top: 1px solid #cccccc;
	background-color:#AA1F00;
}
#advert img{
	display: block;
}
*/
/************** #headlines styles **************/
/*
#headlines{
	margin: 0px;
	padding: 10px 0px 20px 10px;
	font-size: 80%;
}
#headlines p{
	padding: 5px 0px 5px 0px;
}
*/
/*
img#logo1
{
 float:left;
}
img#logo2
{
 float:right;
}
*/
/* right lo siguiente es posible que sobre */
#right {
   float: right;
}
span.right {
  float: right;
  }
span.left {
  float: left;
  margin: 0 0 0 0; 
  }
/* right */		

/************** #textos variados alguno sobrarán, hay que depurar **************/
/* ------------------------------------ Textos --------------------------------------*/
.mostrar {margin:5px; padding: 1px; border: 1px solid #dfe0ff;
          font-size: 8pt; font-family: Verdana, sans-serif, Helvetica, Arial; float: left;
          color: #2c2c2c; background: #d2d2d2; font-weight: 400; text-align: left; }	
									
.textoAzul7L {font-size: 7pt; font-family:Verdana,Arial,Helvetica,Sans-serif,Courier-New,Times New Roman;
              color: #000066;font-weight: 400; text-align: left; font-style:Normal;}
.textoAzulClaro7L {font-size: 7pt; font-family:Verdana,Arial,Helvetica,Sans-serif,Courier-New,Times New Roman;
                   color: #3A6DAB;font-weight: 400; text-align: left; font-style:Normal;}												
.textoAzul8L {font-size: 8pt; font-family:Verdana,Arial,Helvetica,Sans-serif,Courier-New,Times New Roman;
              color: #000066;font-weight: 400; text-align: left; font-style:Normal;}
.textoAzulClaro8L {font-size: 8pt; font-family:Verdana,Arial,Helvetica,Sans-serif,Courier-New,Times New Roman;
                   color: #3A6DAB;font-weight: 400; text-align: left; font-style:Normal;}															
.textoAzul8C {font-size: 8pt; font-family:Verdana, Arial, Helvetica, Sans-serif, Courier-New, Times New Roman;
            color: #000066;font-weight: 400; text-align: center; font-style:Normal;}
.textoAzul8R {font-size: 8pt; font-family:Verdana, Arial, Helvetica, Sans-serif, Courier-New, Times New Roman;
            color: #000066;font-weight: 400; text-align: right; font-style:Normal;}
.textoAzul9C {font-size: 9pt; font-family:Verdana, Arial, Helvetica, Sans-serif, Courier-New, Times New Roman;
            color: #000066;font-weight: 400; text-align: center; font-style:Normal;}

.textoAzul8Center {margin: 0; padding: 0px 0px;
                 font-size: 8pt; font-family:Verdana, Arial, Helvetica, Sans-serif, Courier-New, Times New Roman;
                 color: #000066;font-weight: 400; text-align: center; font-style:Normal;}
.textoAzul8Left {margin: 0; padding: 0px 0px;
                 font-size: 8pt; font-family:Verdana, Arial, Helvetica, Sans-serif, Courier-New, Times New Roman;
                 color: #000066;font-weight: 400; text-align: left; font-style:Normal;}
.textoAzul8LeftH3 {margin: 0; padding: 0px 0px;
                 font-size: 8pt; font-family:Verdana, Arial, Helvetica, Sans-serif, Courier-New, Times New Roman;
                 color: #000066;font-weight: 400; line-height: 3em; text-align: left; font-style:Normal;}
.textoAzul8Left1 {margin: 0; padding: 0px 0px;
                 font-size: 8pt; font-family:Verdana, Arial, Helvetica, Sans-serif, Courier-New, Times New Roman;
                 color: #3A6DAB;font-weight: 400; text-align: left; font-style:Normal;}								 
.textoAzul8Left2  {font: 11px Geneva, Verdana, Arial, Helvetica, sans-serif; 
                   text-align: left; padding: 0px; color: #3A6DAB;}		
.textoAzu112Left2  {font: 12px Geneva, Verdana, Arial, Helvetica, sans-serif; 
                   text-align: left; padding: 0px; color: #3A6DAB;}										 							 
								 

.textoAzul8Right {margin: 0; padding: 0px 0px;
                 font-size: 8pt; font-family:Verdana, Arial, Helvetica, Sans-serif, Courier-New, Times New Roman;
                 color: #000066;font-weight: 400; text-align: right; font-style:Normal;}

.textoAzul9Center {margin: 0; padding: 0px 0px;
                 font-size: 9pt; font-family:Verdana, Arial, Helvetica, Sans-serif, Courier-New, Times New Roman;
                 color: #000066;font-weight: 400; text-align: center; font-style:Normal;}
.textoAzul9Left {margin: 0; padding: 0px 0px; line-height: 2em;
                 font-size: 9pt; font-family:Verdana, Arial, Helvetica, Sans-serif, Courier-New, Times New Roman;
                 color: #000066;font-weight: 400; text-align: left; font-style:Normal;}
.textoAzul9Right {float: right; margin: 0; padding: 0px 0px;
                 font-size: 9pt; font-family:Verdana, Arial, Helvetica, Sans-serif, Courier-New, Times New Roman;
                 color: #000066;font-weight: 400; text-align: right; font-style:Normal;}

.textoNegro8Left {margin: 0; padding: 0px 0px;
                 font-size: 8pt; font-family:Verdana, Arial, Helvetica, Sans-serif, Courier-New, Times New Roman;
                 color: #404040;font-weight: 400; text-align: left; font-style:Normal;}
.textoGris8Left1 {margin: 0; padding: 0px 0px;
                 font-size:8pt; font-family:Geneva,Verdana,Arial, Helvetica,Sans-serif,Courier-New,Times New Roman;
                 color: #414141;font-weight: 400; text-align: left; font-style:Normal;}	
.textoGris8Left2 {margin: 0; padding: 0px 0px;
                 font-size:8pt; font-family:Geneva,Verdana,Arial,Helvetica,Sans-serif,Courier-New,Times New Roman;
                 color: #5d5d5d;font-weight: 400; text-align: left; font-style:Normal;}									 
								 						 
.textoGris12Left {font: 12px Geneva, Verdana, Arial, Helvetica, sans-serif; height: 21px;/*width: 22%; */
                   text-align: left; border: 1px solid #dfe0ff; padding: 1px; color: #2c2c2c;}								 
								
.textoNegro9Left {margin: 0; padding: 0px 0px;
                 font-size: 9pt; font-family:Verdana, Arial, Helvetica, Sans-serif, Courier-New, Times New Roman;
                 color: #404040;font-weight: 400; text-align: left; font-style:Normal;}
.textoRojo8Left {margin: 0; padding: 0px 0px;
                 font-size: 8pt; font-family:Verdana, Arial, Helvetica, Sans-serif, Courier-New, Times New Roman;
                 color: #cc0000;font-weight: 400; text-align: left; font-style:Normal;}
.textoRojo9Left {margin: 0; padding: 0px 0px;
                 font-size: 9pt; font-family:Verdana, Arial, Helvetica, Sans-serif, Courier-New, Times New Roman;
                 color: #cc0000;font-weight: 400; text-align: left; font-style:Normal;}			
																	
																	
																	
 





