{% extends 'base.html.twig' %}

{% block title %}Alta de Socio{% endblock %}

{% block body %}
    <h1>Alta de Socio</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Enviar</button>
    {{ form_end(form) }}
{% endblock %}
